extends layout

block content
  section.about
  .container
    h3 We’re a creative Digital Agency specialising in Web Development located in Harare.
  section#extra-features.extra-features
    .container.text-center
      header
        h2 How we work
        .row
          p.lead.col-lg-8.mx-auto We are exceptional in what we do.
      .grid.row
        .item.col-md-6
          .icon
            i.fa.fa-desktop
          h3.h5 Custom Web Development
          p
            | Our developers craft beautiful and interactive web experiences using the latest technologies, ensuring they display elegantly on mobile, desktop and tablets.
        .item.col-md-6
          .icon
            i.fa.fa-mobile
          h3.h5 Mobile App Development
          p
            | Our UI designers have vast experience in both Android and iOS. They create applications with the appropriate UI
            | design to appeal to your customers and create a pleasant novel experience across all mobile platforms.
        .item.col-md-6
          .icon
            i.fa.fa-area-chart(aria-hidden='true')
          h3.h5 Data & Visual Analytics
          p
            | Unlock your data's full potential. We create bespoke and interactive visualisation of your big data
        .item.col-md-6
          .icon
            i.fa.fa-search-plus
          h3.h5 SEO
          p
            | Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.