extends layout

block content
  section#price.pricing_area
    .container
      .main_white_title
        h2 Our Logo Packages
      .row
        .col-md-6
          ul.list-group
            li.list-group-item.package_title
              h5| Basic Logo Package
            li.list-group-item
              | 3 Logo Design Ideas
            li.list-group-item
              | 3 Revisions (Additional Revisions Per Change £10)
            li.list-group-item
              | Final Files (.AI, .PSD, .EPS, .JPEG,.svg, .PDF, .PNG)
            li.list-group-item.last2
              | 100% Unique Custom Logo Design Concepts
        .col-md-6
          ul.list-group
            li.list-group-item.package_title
              h5| Standard Logo Package
            li.list-group-item
              | 4 Logo Design Ideas
            li.list-group-item
              | 10 Revisions (Additional Revisions Per Change £10)
            li.list-group-item
              | Final Files (.AI, .PSD, .EPS, .JPEG,.svg, .PDF, .PNG)
            li.list-group-item.last2
              | 100% Unique Custom Logo Design Concepts
      .row.mt-5    
        .col-md-6
          ul.list-group
            li.list-group-item.package_title
              h5| Gold Logo Package
            li.list-group-item
              | 4 Logo Design Ideas
            li.list-group-item
              | 10 Revisions (Additional Revisions Per Change £10)
            li.list-group-item
              | Final Files (.AI, .PSD, .EPS, .JPEG,.svg, .PDF, .PNG)
            li.list-group-item
              | Stationery Design (Business Card, Letterhead)
            li.list-group-item
              | Free Electronic Letterhead
            li.list-group-item.last1
              | 100% Unique Custom Logo Design Concepts
            

        .col-md-6
          ul.list-group
            li.list-group-item.package_title
              h5| Platinum Logo Package
            li.list-group-item
              | 10 Logo Design Ideas
            li.list-group-item
              | 10 Revisions (Additional Revisions Per Change £10)
            li.list-group-item
              | Final Files (.AI, .PSD, .EPS, .JPEG,.svg, .PDF, .PNG)
            li.list-group-item
              | Stationery Design (Business Card, Letterhead)
            li.list-group-item
              | Free Electronic Letterhead
            li.list-group-item
              | Invoice Design
            li.list-group-item
              | 2 Sided Flyer (OR) Bi-Fold Brochure Design
            li.list-group-item
              | Social Media Size Images
            li.list-group-item
              | 100% Unique Custom Logo Design Concepts