extends layout

block content 
  section#features.features
  .container.text-center
    h1 Our Services
    .row.d-flex.align-items-center.bg-lg4
      .text.col-lg-6.order-2.order-lg-1.s1
        h4 Custom Web Development
        p
          | Our developers craft beautiful and interactive web experiences using the latest technologies, ensuring they display elegantly on mobile, desktop and tablets.
          | We use cutting edge and top web technologies to deliver accessible and blazingly fast websites.
      .image.col-lg-6.order-1.order-lg-2.bg-oservices.bg-oservicesall.s2
        <svg width='300px', height='300px', xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 491.52 491.52" style="enable-background:new 0 0 491.52 491.52;" xml:space="preserve" width="512px" height="512px">
        <path style="fill:#000000;" d="M240.185,300.446c-2.145-1.67-3.549-4.247-3.549-7.176c0-2.929,1.404-5.506,3.549-7.176v-11.76  H120.32V120.321H371.2v148.646h10.575c1.744,0,3.36,0.492,4.785,1.287V110.209c0-2.898-2.349-5.249-5.248-5.249H110.208  c-2.899,0-5.248,2.35-5.248,5.249V309.83c0,2.899,2.35,5.249,5.248,5.249h83.434h46.542V300.446z"/>
        <path style="fill:#64798A;" d="M251.3,240.639h91.83c6.125,0,11.11,4.985,11.11,11.113v17.215h16.96V120.321H120.32v154.014h119.865  v-22.583C240.185,245.624,245.17,240.639,251.3,240.639z"/>
        <polygon style="fill:#3A556A;" points="240.185,332.913 193.642,347.3 240.185,347.3 "/>
        <polygon style="fill:#2F4859;" points="240.185,315.078 193.642,315.078 193.642,347.3 240.185,332.913 "/>
        <g>
          <polygon style="fill:#64798A;" points="193.642,347.3 182.942,347.3 182.942,360.789 240.185,360.789 240.185,347.3  "/>
          <path style="fill:#64798A;" d="M236.636,293.27c0,2.929,1.404,5.506,3.549,7.176v-14.351   C238.039,287.764,236.636,290.341,236.636,293.27z"/>
        </g>
        <path style="fill:#E1E6E9;" d="M371.2,268.967v5.368H240.185v11.76c1.546-1.203,3.465-1.949,5.575-1.949  c5.04,0,9.125,4.085,9.125,9.124c0,5.04-4.085,9.125-9.125,9.125c-2.11,0-4.029-0.746-5.575-1.949v14.632h57.693h83.435  c2.898,0,5.248-2.35,5.248-5.249v-39.576c-1.425-0.795-3.041-1.287-4.785-1.287H371.2z"/>
        <path style="fill:#2F4859;" d="M371.2,268.967h-16.96v-17.215c0-6.128-4.985-11.113-11.11-11.113H251.3  c-6.13,0-11.115,4.985-11.115,11.113v22.583H371.2V268.967z"/>
        <g>
          <polygon style="fill:#3A556A;" points="240.185,347.3 297.878,347.3 297.878,315.078 240.185,332.913  "/>
          <polygon style="fill:#3A556A;" points="240.185,332.913 297.878,315.078 240.185,315.078  "/>
          <polygon style="fill:#3A556A;" points="308.578,347.3 297.878,347.3 240.185,347.3 240.185,360.789 308.578,360.789  "/>
          <path style="fill:#3A556A;" d="M254.885,293.27c0-5.039-4.085-9.124-9.125-9.124c-2.11,0-4.029,0.746-5.575,1.949v14.351   c1.546,1.203,3.465,1.949,5.575,1.949C250.8,302.395,254.885,298.31,254.885,293.27z"/>
        </g>
        <path style="fill:#27A2DB;" d="M310.783,361.35h-52.656v-102.77h78.172v10.387h12.822v-17.215c0-3.309-2.683-5.991-5.992-5.991  h-91.832c-3.309,0-5.991,2.682-5.991,5.991v128.818c0,3.309,2.682,5.991,5.991,5.991h60.772c-0.795-1.425-1.286-3.041-1.286-4.786  V361.35z"/>
        <g>
          <path style="fill:#EBF0F3;" d="M297.211,381.727c-3.95,0-7.161-3.211-7.161-7.16c0-3.95,3.211-7.164,7.161-7.164   c3.949,0,7.167,3.214,7.167,7.164C304.378,378.516,301.16,381.727,297.211,381.727z M297.211,372.21   c-1.296,0-2.354,1.058-2.354,2.357s1.058,2.354,2.354,2.354c1.302,0,2.36-1.055,2.36-2.354S298.513,372.21,297.211,372.21z"/>
          <path style="fill:#EBF0F3;" d="M258.128,258.579v102.77h52.656v-82.478c0-5.463,4.44-9.905,9.9-9.905h15.616v-10.387H258.128z"/>
        </g>
        <path style="fill:#2D93BA;" d="M349.121,380.569V268.967h-12.822v92.383h-25.516v20.425c0,1.744,0.492,3.36,1.286,4.786h31.059  C346.438,386.56,349.121,383.878,349.121,380.569z"/>
        <path style="fill:#E1E6E9;" d="M310.783,278.872v82.478h25.516v-92.383h-15.616C315.223,268.967,310.783,273.409,310.783,278.872z"/>
        <path style="fill:#FCD462;" d="M381.774,274.086h-61.087c-2.642,0-4.785,2.143-4.785,4.786v102.902c0,2.643,2.143,4.786,4.785,4.786  h61.087c2.643,0,4.786-2.143,4.786-4.786V278.873C386.56,276.229,384.417,274.086,381.774,274.086z"/>
        <g>
          <rect x="326.144" y="284.314" style="fill:#64798A;" width="50.176" height="82.074"/>
          <path style="fill:#64798A;" d="M351.228,382.699c-3.155,0-5.72-2.565-5.72-5.72c0-3.155,2.565-5.723,5.72-5.723   c3.155,0,5.725,2.567,5.725,5.723C356.953,380.134,354.383,382.699,351.228,382.699z M351.228,375.097   c-1.035,0-1.88,0.845-1.88,1.883c0,1.037,0.845,1.88,1.88,1.88c1.04,0,1.885-0.842,1.885-1.88   C353.113,375.942,352.268,375.097,351.228,375.097z"/>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        <g>
        </g>
        </svg>
    .row.d-flex.align-items-center.bg-lg4.mt-3
      .image.col-lg-6.bg-oservices2.bg-oservicesall.s3
        svg#Layer_1(width='300px', height='300px',version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
          path(style='fill:#333131;', d='M320.36,398.222H191.641c-11.585,0-20.975-9.39-20.975-20.973V134.753\
          c0-11.585,9.39-20.975,20.975-20.975H320.36c11.583,0,20.973,9.39,20.973,20.975v242.497\
          C341.333,388.832,331.943,398.222,320.36,398.222z')
          path(style='fill:#272525;', d='M320.36,113.778h-64.934v284.444h64.934c11.583,0,20.975-9.39,20.975-20.975V134.753\
          C341.333,123.168,331.943,113.778,320.36,113.778z')
          rect(x='184.889', y='128.638', style='fill:#FFFFFF;', width='142.222', height='237.468')
          rect(x='255.431', y='128.638', style='fill:#D0D1D3;', width='71.685', height='237.468')
          rect(x='206.869', y='217.643', style='fill:#FFC61B;', width='24.566', height='73.697')
          rect(x='243.709', y='193.077', style='fill:#EAA22F;', width='24.566', height='98.263')
          rect(x='255.431', y='193.077', style='fill:#E09112;', width='12.857', height='98.263')
          rect(x='280.566', y='242.209', style='fill:#C92F00;', width='24.566', height='49.131')
          rect(x='199.111', y='299.96', style='fill:#B54324;', width='113.778', height='8.62')
          rect(x='255.431', y='299.96', style='fill:#930000;', width='57.458', height='8.62')
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
      .text.col-lg-6.c4.s4
        h4 Mobile App Development
        p
          | UX Design for IOS And Android Apps, Project Management from Design to High-End Product. Our apps are designed to deliver fast response times and smooth user experiences.
    .row.d-flex.align-items-center.bg-lg4.mt-3
      .text.col-lg-6.order-2.order-lg-1.s5
        h4 Data & Visual Analytics
        p
          | It's often said that a picture is worth a thousand words and Data & Visual Analytics is the same way. If you have data you can visualise it in many interesting ways. We create bespoke and interactive visualisation of data. Let us help you unlock your data's full potential and 
          strong tell your story 
          |  clearly, quickly and easily. 
      .image.col-lg-6.order-1.order-lg-2.s6
        svg#muse(width='300px', height='300px',enable-background='new 0 0 356.923 356.923', version='1.1', viewbox='0 0 356.923 356.923', xml:space='preserve', xmlns='http://www.w3.org/2000/svg')
          polygon(points='216.23 267.85 140.66 267.85 150.25 221.14 206.62 221.14', fill='#696969')
          polygon(points='216.23 267.85 206.62 221.14 150.25 221.14 196.96 267.85', fill='#696969')
          rect(x='120.44', y='267.84', width='116.01', height='5.652', fill='#696969')
          path(d='m40.505 28.923c-3.867 0-7.038 3.188-7.038 7.057v178.1c0 3.882 3.17 7.052 7.038 7.052h275.89c3.879 0 7.065-3.17 7.065-7.052v-178.1c0-3.87-3.185-7.057-7.065-7.057h-275.89z', fill='#242D3C')
          rect(x='48.123', y='43.569', width='260.68', height='162.9', fill='#33b5e5', stroke='#fff', stroke-width="2")
          g(fill='none', stroke='#D9D8D7', stroke-width="2")
            rect(x='130.9', y='171.64', width='162.86', height='3.239')
            rect(x='63.138', y='171.64', width='55.06', height='3.239')
            rect(x='63.138', y='181.69', width='230.62', height='3.239')
            rect(x='63.138', y='191.7', width='115.31', height='3.239')
          rect(x='67.766', y='55.126', width='33.716', height='104', fill='none', stroke='#FF6D3B', stroke-width="2")
          rect(x='113.53', y='110.79', width='33.716', height='48.342', fill='none', stroke='#D9D8D7', stroke-width="2")
          rect(x='159.31', y='71.911', width='33.716', height='87.22', fill='none', stroke='#3E4959', stroke-width="2")
          rect(x='205.1', y='139.94', width='33.716', height='19.18', fill='none', stroke='#21D8DE', stroke-width="2")
          g(fill='none', stroke='#D9D8D7', stroke-width="2")
            rect(x='262.67', y='57.831', width='16.768', height='3.567')
            rect(x='282.09', y='57.831', width='7.038', height='3.567')
            rect(x='262.67', y='86.449', width='26.466', height='3.567')
            rect(x='284.95', y='100.75', width='4.18', height='3.569')
            rect(x='262.67', y='100.75', width='20.052', height='3.569')
            rect(x='262.67', y='72.14', width='4.898', height='3.567')
            rect(x='270.97', y='72.14', width='7.458', height='3.567')
            rect(x='281.67', y='72.14', width='7.458', height='3.567')
          circle(cx='253.24', cy='59.616', r='4.492', fill='none', stroke='#3E4959', stroke-width="2")
          circle(cx='253.24', cy='73.92', r='4.492', fill='none', stroke='#D9D8D7', stroke-width="2")
          circle(cx='253.24', cy='88.222', r='4.492', fill='none', stroke='#FF6D3B', stroke-width="2")
          circle(cx='253.24', cy='102.52', r='4.492', fill='none', stroke='#21D8DE', stroke-width="2")
    .row.d-flex.align-items-center.bg-lg4.mt-3
      .image.col-lg-6.s7
        <svg width='300px', height='300px',ide="ecomm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" width="512px" height="512px">
        <g>
          <g>
            <rect x="22.5000153" y="62.472229" fill="#EBF0F3" width="55" height="2.829582"/>
            <polygon fill="#c0c0c0" points="77.5000153,65.3018112 22.5000134,65.3018112 27.713026,66.4772873 72.2870026,66.4772873   "/>
            <rect x="44.7578278" y="63.6526451" fill="##c0c0c0" width="10.484375" height="0.46875"/>
            <path fill="#000" d="M73.110733,33.5227089H26.8892975c-0.7574463,0-1.37146,0.6140137-1.37146,1.37146v27.578064H74.482193    v-27.578064C74.482193,34.1367226,73.8681793,33.5227089,73.110733,33.5227089z"/>
            <rect x="27.5175934" y="35.5222816" fill="#27A2DB" width="44.9648438" height="24.9501953"/>
            <rect x="27.5175934" y="59.66819" fill="#2D93BA" width="44.9648438" height="0.8042892"/>
            <g>
              <g>
                <path fill="none" stroke="#fff" stroke-width=".5" d="M36.9852142,51.3831596c-0.0108452-0.0734138-0.012928-0.2506866,0.1902084-0.3124199      l8.7740936-2.4343071l0.8838768-5.4463234H36.1264725l-0.5073204-2.7679977h-2.3658981v0.8542595h1.6542931l1.6768188,9.1501007      c-0.3324432,0.2420082-0.5087814,0.6451797-0.4442329,1.0818253c0.0850906,0.5727043,0.5489273,0.9727211,1.1278877,0.9727211      h8.7995415v-0.8542595h-8.7995415C37.0456963,51.6267586,36.9960594,51.4561577,36.9852142,51.3831596z M36.9084663,47.4572372      h1.0515556v2.5093079l-0.5630074,0.1561852L36.9084663,47.4572372z M43.9732094,47.0301056h-1.0761681v-1.1842003h1.0761681      V47.0301056z M44.4003372,45.8459053h1.1363373l-0.1921349,1.1842003h-0.9442024V45.8459053z M39.8904495,47.4572372h1.0761642      v1.6752548l-1.0761642,0.2985497V47.4572372z M39.4633179,49.54953l-1.0761642,0.2985268v-2.3908195h1.0761642V49.54953z       M40.9666138,47.0301056h-1.0761642v-1.1842003h1.0761642V47.0301056z M41.3937454,45.8459053h1.0761681v1.1842003h-1.0761681      V45.8459053z M41.3937454,47.4572372h1.0761681v1.2582397l-1.0761681,0.2985268V47.4572372z M42.8970413,47.4572372h1.0761681      v0.841198l-1.0761681,0.2985535V47.4572372z M42.8970413,45.4187775v-1.3744087h1.0761681v1.3744087H42.8970413z       M42.4699135,45.4187775h-1.0761681v-1.3744087h1.0761681V45.4187775z M40.9666138,45.4187775h-1.0761642v-1.3744087h1.0761642      V45.4187775z M39.4633179,45.4187775h-1.0761642v-1.3744087h1.0761642V45.4187775z M39.4633179,45.8459053v1.1842003h-1.0761642      v-1.1842003H39.4633179z M37.960022,47.0301056h-1.129818l-0.2170601-1.1842003h1.3468781V47.0301056z M44.4003372,48.1799469      v-0.7227097h0.8749084l-0.0815468,0.5026283L44.4003372,48.1799469z M45.6059685,45.4187775h-1.2056313v-1.3744087h1.4286346      L45.6059685,45.4187775z M37.960022,44.0443687v1.3744087h-1.4251366l-0.2518883-1.3744087H37.960022z"/>
                <circle fill="none" stroke="#fff" cx="44.3490601" cy="54.2990303" r="1.2736204"/>
                <circle fill="none" stroke="#fff" cx="38.4030952" cy="54.2990303" r="1.2736335"/>
              </g>
              <rect x="61.9182701" y="50.6045914" fill="#FFFFFF" width="4.8285055" height="1.7066137"/>
              <rect x="53.5406075" y="41.3748474" fill="yellow" width="13.2061691" height="3.260273"/>
              <rect x="53.5406075" y="46.0382767" fill="#FFFFFF" width="13.2061691" height="3.260273"/>
              <rect x="53.5406075" y="48.7207794" fill="#EBF0F3" width="13.2061691" height="0.5777699"/>
              <rect x="53.5406075" y="44.0573502" fill="#EBF0F3" width="13.2061691" height="0.5777699"/>
            </g>
          </g>
        </g>
        </svg>
      .text.col-lg-6.s8
        h4 E-commerce Design
        p
          | We create beautiful and engaging user experiences for Ecommerce shops for both web and mobile.
    .row.d-flex.align-items-center.bg-lg4.mt-3
      .text.col-lg-6.order-2.order-lg-1.s9
        h4 Digital Strategy & Branding
        p
          | Brand Strategy, Positioning, Visual Identity, and Visual Language.
      .image.col-lg-6.order-1.order-lg-2.s10
        svg#Layer_1(width='300px', height='300px',version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
          path(style='fill:#FFEDB5;', d='M170.548,425.608h-30.077c-5.884,0-10.047-5.754-8.204-11.343l40.851-123.938\
          c1.167-3.541,4.475-5.934,8.204-5.934h30.077c5.884,0,10.047,5.754,8.204,11.343l-40.851,123.938\
          C177.585,423.215,174.277,425.608,170.548,425.608z')
          path(style='fill:#FEE187;', d='M341.452,425.608h30.077c5.884,0,10.047-5.754,8.204-11.343l-40.851-123.938\
          c-1.167-3.541-4.475-5.934-8.204-5.934h-30.077c-5.884,0-10.047,5.754-8.204,11.343l40.851,123.938\
          C334.415,423.215,337.723,425.608,341.452,425.608z')
          rect(x='111.468', y='139.705', style='fill:#386895;', width='289.082', height='215.299')
          g
            rect(x='255.431', y='139.705', style='fill:#273B7A;', width='145.118', height='215.299')
            path(style='fill:#273B7A;', d='M407.83,148.268H104.17c-5.167,0-9.356-4.189-9.356-9.356v-0.995c0-5.167,4.189-9.356,9.356-9.356\
            H407.83c5.167,0,9.356,4.189,9.356,9.356v0.995C417.185,144.079,412.996,148.268,407.83,148.268z')
            path(style='fill:#273B7A;', d='M407.83,364.853H104.17c-5.167,0-9.356-4.189-9.356-9.356v-0.995c0-5.167,4.189-9.356,9.356-9.356\
            H407.83c5.167,0,9.356,4.189,9.356,9.356v0.995C417.185,360.665,412.996,364.853,407.83,364.853z')
          g
            path(style='fill:#121149;', d='M407.83,128.562H255.426v19.708H407.83c5.167,0,9.356-4.189,9.356-9.356v-0.996\
            C417.185,132.749,412.996,128.562,407.83,128.562z')
            path(style='fill:#121149;', d='M407.83,345.147H255.426v19.708H407.83c5.167,0,9.356-4.189,9.356-9.356v-0.996\
            C417.185,349.334,412.996,345.147,407.83,345.147z')
          g
            circle(style='fill:#FFFFFF;', cx='173.821', cy='181.355', r='10.343')
            circle(style='fill:#FFFFFF;', cx='220.039', cy='259.224', r='10.343')
          g
            circle(style='fill:#D0D1D3;', cx='358.09', cy='230.055', r='10.343')
            circle(style='fill:#D0D1D3;', cx='291.961', cy='196.715', r='10.343')
            path(style='fill:#D0D1D3;', d='M366.373,268.017l-9.051-18.101c-0.45-0.898-1.267-1.555-2.243-1.801\
            c-0.972-0.248-2.007-0.053-2.829,0.526l-15.9,11.205c-1.555,1.098-1.929,3.248-0.831,4.805c1.096,1.555,3.243,1.932,4.805,0.831\
            l8.144-5.739c-0.433,4.393-4.844,31.835-47.537,45.316c-1.815,0.574-2.824,2.51-2.25,4.327c0.465,1.47,1.824,2.41,3.286,2.41\
            c0.345,0,0.695-0.052,1.041-0.162c44.792-14.145,51.298-42.779,52.24-50.443l4.954,9.911c0.605,1.208,1.822,1.907,3.088,1.905\
            c0.517,0,1.043-0.116,1.539-0.364C366.535,271.791,367.226,269.721,366.373,268.017z')
          g
            path(style='fill:#FFFFFF;', d='M266.997,203.785c-0.234-0.931-0.848-1.722-1.689-2.182l-18.963-10.343\
            c-1.674-0.912-3.767-0.295-4.679,1.376c-0.912,1.672-0.297,3.767,1.376,4.679l11.91,6.496c-6.349,0.631-23.759,3.303-42.205,14.36\
            c-20.923,12.545-47.049,38.683-52.689,91.969c-0.2,1.895,1.174,3.593,3.065,3.793c0.124,0.012,0.247,0.019,0.369,0.019\
            c1.741,0,3.236-1.315,3.424-3.084c4.274-40.377,20.795-69.52,49.109-86.619c17.237-10.411,33.863-12.964,39.588-13.56\
            l-7.346,11.312c-1.038,1.596-0.583,3.732,1.015,4.77c0.579,0.376,1.231,0.555,1.874,0.555c1.127,0,2.234-0.553,2.896-1.57\
            l12.498-19.246C267.069,205.702,267.233,204.716,266.997,203.785z')
            path(style='fill:#FFFFFF;', d='M248.265,221.998c-1.038,1.596-0.583,3.732,1.015,4.77c0.579,0.376,1.231,0.555,1.874,0.555\
            c1.127,0,2.234-0.553,2.896-1.57l1.377-2.12V210.97L248.265,221.998z')
          path(style='fill:#D0D1D3;', d='M266.997,203.785c-0.234-0.931-0.848-1.722-1.689-2.182l-9.88-5.389v14.493\
          c0.057-0.007,0.129-0.016,0.184-0.021l-0.184,0.284v12.662l11.121-17.125C267.069,205.702,267.233,204.716,266.997,203.785z')
          path(style='fill:#FFFFFF;', d='M260.875,307.279l7.044-7.044c1.346-1.346,1.346-3.529,0-4.875c-1.346-1.346-3.529-1.346-4.875,0\
          L256,302.404l-7.044-7.044c-1.346-1.346-3.529-1.346-4.875,0c-1.346,1.346-1.346,3.529,0,4.875l7.044,7.044l-7.044,7.044\
          c-1.346,1.346-1.346,3.529,0,4.875c0.674,0.674,1.555,1.01,2.438,1.01c0.883,0,1.764-0.336,2.438-1.01l7.044-7.044l7.044,7.044\
          c0.674,0.674,1.555,1.01,2.438,1.01s1.764-0.336,2.438-1.01c1.346-1.346,1.346-3.529,0-4.875L260.875,307.279z')
          path(style='fill:#D0D1D3;', d='M260.875,307.279l7.044-7.044c1.346-1.346,1.346-3.529,0-4.875c-1.346-1.346-3.529-1.346-4.875,0\
          L256,302.404l-0.574-0.574v10.899l0.574-0.574l7.044,7.044c0.674,0.674,1.555,1.01,2.438,1.01s1.764-0.336,2.438-1.01\
          c1.346-1.346,1.346-3.529,0-4.875L260.875,307.279z')
          path(style='fill:#FFFFFF;', d='M153.429,222.151l7.044-7.044c1.346-1.346,1.346-3.529,0-4.875c-1.346-1.346-3.529-1.346-4.875,0\
          l-7.044,7.044l-7.044-7.044c-1.346-1.346-3.529-1.346-4.875,0c-1.346,1.346-1.346,3.529,0,4.875l7.044,7.044l-7.044,7.042\
          c-1.346,1.346-1.346,3.529,0,4.875c0.674,0.674,1.555,1.01,2.438,1.01c0.883,0,1.764-0.336,2.438-1.01l7.044-7.042l7.044,7.044\
          c0.674,0.674,1.555,1.01,2.438,1.01s1.764-0.336,2.438-1.01c1.346-1.346,1.346-3.529,0-4.875L153.429,222.151z')
          g
            path(style='fill:#D0D1D3;', d='M350.422,180.489l7.044-7.044c1.346-1.346,1.346-3.529,0-4.875s-3.529-1.346-4.875,0l-7.044,7.044\
            l-7.044-7.044c-1.346-1.346-3.529-1.346-4.875,0c-1.346,1.346-1.346,3.529,0,4.875l7.044,7.044l-7.044,7.044\
            c-1.346,1.346-1.346,3.529,0,4.875c0.674,0.674,1.555,1.01,2.438,1.01s1.764-0.336,2.438-1.01l7.044-7.044l7.044,7.044\
            c0.674,0.674,1.555,1.01,2.438,1.01c0.883,0,1.764-0.336,2.438-1.01c1.346-1.346,1.346-3.529,0-4.875L350.422,180.489z')
            path(style='fill:#D0D1D3;', d='M294.553,251.458l4.458-4.458c1.346-1.346,1.346-3.529,0-4.875s-3.529-1.346-4.875,0l-4.458,4.458\
            l-4.458-4.458c-1.346-1.346-3.529-1.346-4.875,0s-1.346,3.529,0,4.875l4.458,4.458l-4.458,4.458c-1.346,1.346-1.346,3.529,0,4.875\
            c0.674,0.674,1.555,1.01,2.438,1.01s1.764-0.336,2.438-1.01l4.458-4.458l4.458,4.458c0.674,0.674,1.555,1.01,2.438,1.01\
            s1.764-0.336,2.438-1.01c1.346-1.346,1.346-3.529,0-4.875L294.553,251.458z')
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
          g
    .row.d-flex.align-items-center.mt-4.bg-lg4
      .image.col-lg-6.s11
        svg#Layer_1(width='300px', height='300px',xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', version='1.1', x='0px', y='0px', viewbox='0 0 512 512', style='enable-background:new 0 0 512 512;', xml:space='preserve')
          g
            path(style='fill:none; stroke:#696969;', d='M282.568,432.96c-15.296-31.504-4.68-69.472,24.736-88.472c51.528-36.192,65.96-56.296,65.96-56.296   s28.856-8.04,16.488,16.088c-8.288,15.4-19.48,29.056-32.952,40.208c0,0,39.2-8.04,49.472-40.216s0-50.264,24.736-56.296   c0,0,12.368,60.32-24.736,96.512S325.856,394.76,323.8,432.96H282.568z')
            path(style='fill:none; stroke:#696969;', d='M229.432,432.96c15.296-31.504,4.68-69.472-24.736-88.472c-51.528-36.192-65.96-56.296-65.96-56.296   s-28.856-8.04-16.488,16.088c8.288,15.4,19.48,29.056,32.952,40.208c0,0-39.2-8.04-49.472-40.216s0-50.264-24.736-56.296   c0,0-12.368,60.32,24.736,96.512s80.416,50.272,82.472,88.472L229.432,432.96L229.432,432.96z')
          g#heart
            path(style='fill:#aa4e5c;', d='M256,100v180.856L163.72,175.92c0,0-35.12-44.92-0.8-78.808C194.12,66.264,237.6,80.368,256,100z')
            path(style='fill:#aa4e5c;', d='M256,100v180.856l92.28-104.936c0,0,35.12-44.92,0.8-78.808C317.88,66.264,274.4,80.368,256,100z')
          style.
            #heart {animation: beat .25s 6 alternate;transform-origin: center;}@keyframes beat{to { transform: scale(1.4); }}
      .text.col-lg-6.s12
        h4 Charities
        p
          | Pro-bono services potentially available for charities, social enterprises and churches.
  section.bg-features.mt-5
    .container.text-center.mt-3
      h1.pt-4.pt-1.text-white Let's get to work
      h2.pt-1.text-white Have a challenging problem or enterprising idea?
      p.pt-1.text-white
        |We'd love to hear from you
      a.button.bttn-material-flat.bttn-lg.bttn-primary(href='/contact') Contact Us
      p.pb-3
  script.
    window.sr = ScrollReveal();
    sr.reveal('.s1', {
      duration: 2000,
      origin:'left',
      distance:'50px'
    });
    sr.reveal('.s2', {
      duration: 2000,
      origin:'bottom',
      scale:.5
    });
    sr.reveal('.s3', {
      duration: 2000,
      origin:'bottom',
      delay:100,
      scale:.5
    });
    sr.reveal('.s4', {
      duration: 2000,
      origin:'right',
      distance:'50px',
      delay:1000
    });
    sr.reveal('.s5', {
      duration: 2000,
      origin:'left',
      distance:'50px',
      viewFactor: 0.2
    });
    sr.reveal('.s6', {
      duration: 2000,
      origin:'bottom',
      viewFactor: 0.2
    });
    sr.reveal('.s7', {
      duration: 2000,
      origin:'bottom',
      viewFactor: 0.2
    });
    sr.reveal('.s8', {
      duration: 2000,
      origin:'right',
      distance:'50px',
      viewFactor: 0.2
    });
    sr.reveal('.s9', {
      duration: 2000,
      origin:'left',
      distance:'50px',
      viewFactor: 0.2
    });
    sr.reveal('.s10', {
      duration: 2000,
      origin:'bottom',
      viewFactor: 0.2
    });
    sr.reveal('.s11', {
      duration: 2000,
      origin:'bottom',
      viewFactor: 0.2
    });
    sr.reveal('.s12', {
      duration: 2000,
      origin:'right',
      distance:'50px',
      viewFactor: 0.2
    });
  script.
    new Vivus('muse', {
      type:'oneByOne',
      start: 'inViewport', 
      duration: 200
    });